[submodule "submodules/poa-chain-spec"]
	path = submodules/poa-chain-spec
	url = https://github.com/poanetwork/poa-chain-spec
	branch = sokol
[submodule "submodules/poa-scripts-moc"]
	path = submodules/poa-scripts-moc
	url = https://github.com/poanetwork/poa-scripts-moc
	branch = sokol
[submodule "submodules/poa-network-consensus-contracts"]
	path = submodules/poa-network-consensus-contracts
	url = https://github.com/poanetwork/poa-network-consensus-contracts
	branch = demo
[submodule "submodules/poa-dapps-keys-generation"]
	path = submodules/poa-dapps-keys-generation
	url = https://github.com/poanetwork/poa-dapps-keys-generation
	branch = core
[submodule "submodules/solidity-flattener"]
	path = submodules/solidity-flattener
	url = https://github.com/poanetwork/solidity-flattener
	branch = master
